{% extends "academy/_layouts/base.html" %}
{% load my_extras %}

{% block content %}
    <div class="page-head">
        <h2>수강 등록</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <form class="form-horizontal group-border-dashed" action="{% url "student-subject-add" student.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-12">

                    <div class="block-flat">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="header">
                                    <h3>{{ student }} 학생</h3>
                                </div>
                                <div class="content">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">과목 선택</label>
                                        <div class="col-sm-6">
                                            {{ form.subject|addattr:"class=form-control" }}
                                            {% for error in form.subject.errors %}
                                                <span class="label label-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">원가</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input id="original_fee" class="form-control" READONLY/>
                                                <span class="input-group-addon">원</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">할인 적용</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input id="discount_percent" class="form-control" name="{{ form.discount_per.name }}"/>
                                                <span class="input-group-addon">%</span>
                                            </div>
                                            <div class="input-group">
                                                <input id="discount_amount" type="text" class="form-control" name="{{ form.discount_amount.name }}"/>
                                                <span class="input-group-addon">원</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">총</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input id="fee" name="{{ form.fee.name }}" class="form-control" READONLY/>
                                                <span class="input-group-addon">원</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">등록</button>
{#                            <button type="reset" class="btn btn-default">취소</button>#}
                            <a href="{% url "student-subject-list" %}" class="btn btn-default">취소</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    $(document).ready(function () {
       $('#discount_percent').keyup(function () {
           var per = $('#discount_percent').val();
           var min = $('#discount_amount').val();
           var before = $('#original_fee').val();
           var result;

           result = before * (100 - per) / 100 - min;
           $('#fee').val(result);
       });

       $('#discount_amount').keyup(function () {
           var per = $('#discount_percent').val();
           var min = $('#discount_amount').val();
           var before = $('#original_fee').val();
           var result;

           result = before * (100 - per) / 100 - min;
           $('#fee').val(result);
       });

       $('#id_subject').change(function() {
           var selected = $('#id_subject').val();

           $.ajax({
               url: "/subject-fee",
               type: "POST",
               data: {"id_subject":selected},
               dataType: "json",
               success: function(json) {
                   $('#discount_percent').val('');
                   $('#discount_amount').val('');
                   $('#original_fee').val(json.fee);
                   $('#fee').val(json.fee);
               }
           });
       });
   });
    </script>
{% endblock %}