{% extends "academy/_layouts/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <div class="cl-mcont">
    <div class="row">
        <div class="col-sm-12">
            <div class="block-flat profile-info">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="avatar">
                            <img src="{% if student.image %}{{ student.image.url }}{% endif %}" class="profile-avatar" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="personal">
                            <h1 class="name">{{ student.name }}</h1>
                            <p class="description">{{ student.group }}<p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
    <div class="tab-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Information</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane active cont">
                <table class="no-border no-strip information">
                    <tbody class="no-border-x no-border-y">
                    <tr>
                        <td style="width:10%;" class="category"><strong>CONTACT</strong></td>
                        <td>
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                <tr><td style="width:15%;"><b>이메일</b></td><td>{{ student.email }}</td></tr>
                                <tr><td style="width:15%;"><b>주소</b></td><td>{{ student.address }}</td></tr>
                                <tr><td style="width:15%;"><b>전화번호</b></td><td>{{ student.contact }}</td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="category"><strong>ABOUT</strong></td>
                        <td>
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                <tr><td style="width:15%;"><b>성 별</b></td><td>{{ student.get_gender_display }}</td></tr>
                                <tr><td style="width:15%;"><b>등원방법</b></td><td>{{ student.get_attend_method_display }}</td></tr>
                                <tr><td style="width:15%;"><b>등록학교</b></td><td>{{ student.school }}</td></tr>
                                <tr><td style="width:15%;"><b>출석알림</b></td><td>{% if student.use_sms %}사용{% else %} 미사용{% endif %}</td></tr>
                                <tr><td style="width:15%;"><b>학습교재</b></td><td>{{ student.textbook }}</td></tr>
                                <tr><td style="width:15%;"><b>비 고</b></td><td>{{ student.information }}</td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>

    </div>

    </div>
{% endblock %}