{% extends "academy/_layouts/base.html" %}
{% load my_extras %}

{% block content %}
    <div class="page-head">
        <h2>진도 관리</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="block-transparent">
                        <div class="header">
                            <h4>{{ student.name }} 학생</h4>
                        </div>
                        <ul class="timeline">
                            {% for memo in student.get_memos %}
                                <li>
                                    <i class="fa fa-comment"></i>
                                    <span class="date">{{ memo.writer }}</span>
                                    <div class="content">
                                        <blockquote>
                                            <p>{{ memo.memo }}</p>
                                            <small>{{ memo.datetime }}</small>
                                        </blockquote>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="block-flat">
                    <div class="header">
                        <h4>내용 추가</h4>
                    </div>
                    <div class="content">
                        <form class="form-horizontal group-border-dashed" style="border-radius: 0px;" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ field.label }}</label>
                                    <div class="col-sm-6">
                                        {{ field|addcss:"form-control" }}
                                        {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="row">
                                <div class="col-sm-12" style="text-align: center;">
                                    <button type="submit" class="btn btn-primary">저장</button>
                                    <a href="{% url "student-memo-list" %}" class="btn btn-default">취소</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}