{% extends "academy/_layouts/base.html" %}
{% load static from staticfiles %}
{% load my_extras %}

{% block content %}
    <div class="page-head">
        <a class="adder btn btn-success btn-lg pull-right md-trigger" style="margin-top:10px;" href="subject-add">과목 추가</a>
        <h2>Subjects</h2>
    </div>

    <div class="md-overlay"></div>
    <div class="cl-mcont">
        <div class="row">

            <div class="col-sm-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        {% for category in categories %}
                            <li {% if forloop.counter == 1 %}class="active"{% endif %}><a href="#category-{{ category.id }}" data-toggle="tab">{{ category.name }}</a></li>
                        {% endfor %}
                        <li><a href="{% url "category-add" %}" class="adder btn btn-success md-trigger" data-modal="form-primary">+</a></li>
                    </ul>
                    <div class="tab-content">
                        {% for category in categories %}
                            <div id="category-{{ category.id }}" class="tab-pane cont {% if forloop.first %}active{% endif %}">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>카테고리</th>
                                        <th>과목명</th>
                                        <th>기본수강료</th>
                                        <th width="130"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for subject in category.get_subjects %}
                                        <tr>
                                            <td>{{ subject.category }}</td>
                                            <td><a href="{% url "subject-update" subject.id %}">{{ subject.name }}</a></td>
                                            <td>{{ subject.price }}</td>
                                            <td class="center">
                                                <a class="btn btn-danger btn-xs" href="{% url "subject-inactive" subject.id %}" data-original-title="삭제" data-toggle="tooltip"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5">해당 카테고리에 존재하는 과목이 없습니다.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}