{% extends "website/_layouts/_base.html" %}
{% load static from staticfiles %}
{% load web_extras %}

{% block content %}
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>학원소식</h1>
                        <ul class="breadcrumb visible-md visible-lg">
                            <li><a href="{% url "entry-list" %}?type=notice">공지 사항</a></li>
                            {#                            <li><a href="{% url "schedule" %}">학사 일정</a></li>#}
                            <li class="active">학원 소식</li>
                            <li><a href="{% url "entry-list" %}?type=reference">기타 자료</a></li>
                            <li><a href="{% url "QnA" %}">Q&A</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section id="content" class="pt30 mb30">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <article class="post clearfix">
                            <div class="postPic row">
                                <div class="col-xs-1"></div>
                                <div class="mb15 col-xs-10">
                                    {% for entryfile in object.entryfile_set.all %}
                                        {% if entryfile.file %}
                                            <img src="{{ entryfile.file.url }}" alt="" class="img-responsive"/>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="postMeta col-xs-1">
                                    <i class="iconRounded icon-camera"></i>
                                </div>
                                <section class="col-xs-10">
                                    <ul class="entry-meta">
                                        <li class="col-sm-8" style="padding-left: 0px;"><h2>{{ object.title }}</h2></li>
                                        <li class="entry-date"><a href="#"><i class="icon-pin"></i>&nbsp;{{ object.datetime|date:"Y-m-d" }}</a></li>
                                        <li class="entry-author"><a href="#"><i class="icon-male"></i>&nbsp; {{ object.writer }}</a></li>
                                    </ul>
                                </section>
                                <section>
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-10">{{ object.content|safe }}</div>
                                </section>
                            </div>
                        </article>
                    </div>
                    {#                    <div class="col-md-1"></div>#}
                    {#                    <aside class="col-md-4">#}
                    {#                                                <section>#}
                    {#                            <h1>#}
                    {#                                If you think it's going to rain, it will.#}
                    {#                            </h1>#}
                    {#                            <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio lacinia ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.#}
                    {#                            </p>#}
                    {#                        </section>#}
                    {#                        <section class="widget search clearfix">#}
                    {#                            <form class="form-inline" role="form">#}
                    {#                                <div class="input-group input-group-lg">#}
                    {#                                    <input type="text" class="form-control lg" placeholder="Search…">#}
                    {#									<span class="input-group-btn">#}
                    {#										<button type="submit" class="btn btn-sm">Submit</button>#}
                    {#									</span>#}
                    {#                                </div>#}
                    {#                            </form>#}
                    {#                        </section>#}
                    {#                        <section class="widget">#}
                    {#                            <h3>Categories</h3>#}
                    {#                            <ul class="list-unstyled iconList">#}
                    {#                                <li><a href="#">Solace of a lonely highway</a></li>#}
                    {#                                <li><a href="#">Write with purpose</a></li>#}
                    {#                                <li><a href="#">Tree on a lake</a></li>#}
                    {#                                <li><a href="#">Don’t stop questioning</a></li>#}
                    {#                                <li><a href="#">Overheard this morning</a></li>#}
                    {#                            </ul>#}
                    {#                        </section>#}
                    {#                        <section class="widget">#}
                    {#                            <h3>Archives</h3>#}
                    {#                            <ul class="list-unstyled iconList">#}
                    {#                                <li><a href="#">March 2012</a></li>#}
                    {#                                <li><a href="#">September 2011</a></li>#}
                    {#                                <li><a href="#">July 2011</a></li>#}
                    {#                                <li><a href="#">June 2011</a></li>#}
                    {#                            </ul>#}
                    {#                        </section>#}
                    {#                        <section class="widget tagCloud">#}
                    {#                            <h3>Tag cloud</h3>#}
                    {#                            <a href="#" class="w2">News</a>#}
                    {#                            <a href="#" class="w1">category</a>#}
                    {#                            <a href="#" class="w3">business</a>#}
                    {#                            <a href="#" class="w3">economy</a>#}
                    {#                            <a href="#" class="w1">lolcats</a>#}
                    {#                            <a href="#" class="w2">design</a>#}
                    {#                            <a href="#" class="w2">Videos</a>#}
                    {#                            <a href="#" class="w1">Web</a>#}
                    {#                            <a href="#" class="w3">Photos</a>#}
                    {#                            <a href="#" class="w2">Music</a>#}
                    {#                        </section>#}
                    {#                    </aside>#}
                    <div class="col-sm-12" style="text-align: center;">
                        <a class="btn btn-default" href="{% url 'entry-list' %}?type=gallery">List</a>
                    </div>
                    {#                </div>#}
                </div>
            </div>
        </section>
        <section class="comments pb30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        {% if request.user.is_authenticated %}
                            <h3 class="commentNumbers">Comments ({{ object.comments.all.count }})</h3>
                            {% for comment in object.comments.all %}
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <div class="imgWrapper">
                                            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50" alt="" />
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <div class="clearfix">
                                            <h4 class="media-heading">{{ comment.writer }}</h4>
                                            <div class="commentInfo">
                                                <span>{{ comment.datetime }}</span>
                                            </div>
                                        </div>
                                        {{ comment.content|linebreaksbr }}
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        <label for="comment">댓글</label>
                                        {% add_attr field class="form-control" rows="3" placeholder=field.label %}
                                    </div>
                                {% endfor %}
                                <button class="btn btn-primary" type="submit">댓글달기</button>
                            </form>
                        {% else %}
                            <div class="text-center">
                                <a href="{% url "web-login" %}">댓글을 다시려면 로그인하시기 바랍니다.</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>
    </section>
    </section>
{% endblock %}