<{% extends "website/_layouts/_base.html" %}
{% load static from staticfiles %}

{% block content %}
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>학원소식</h1>
                        <ul class="breadcrumb visible-md visible-lg">
                            <li class="active">학원소식</li>
                            <li><a href="{% url "entry-list" %}?type=reference">기타자료</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section id="content">
            <section class="pt30 pb30">
                <div class="container clearfix">
                    <div class="row">
{#                        <nav id="filter" class="span12 text-center">#}
{#                            <div class="btn-group">#}
{#                                <a href="" class="btn btn-default" data-filter="*">모두</a>#}
{#                                <a href="" class="btn btn-default" data-filter=".photo">사진</a>#}
{#                                <a href="" class="btn btn-default" data-filter=".video">비디오</a>#}
{#                            </div>#}
{#                        </nav>#}
                        <div class="portfolio-items  isotopeWrapper clearfix imgHover" id="3">
                            {% for gallery in object_list %}
                                <article class="col-sm-4 isotopeItem women">
                                    <div class="imgBorder">
                                        <img alt="" src="{{ gallery.get_main_image.url }}" class="img-responsive imgBorder">
                                        <div class="mediaHover">
                                            <div class="mask"></div>
                                            <div class="iconLinks">
                                                <a href="{% url "entry-detail" gallery.id %}" title="link">
                                                    <i class="icon-picture iconRounded iconMedium"></i>
                                                    <span>link</span>
                                                </a>
                                            </div>
                                        </div>
                                        <section class="boxContent text-center" style="padding:15px;">
                                            <h3 style="margin-bottom: 0px;">{{ gallery.title }}<br/><small>{{ gallery.datetime|date:"Y-m-d" }}</small></h3>
                                        </section>
                                    </div>
                                </article>
                            {% endfor %}

                        </div>
                        <div class="text-center">
                            {% include "website/_includes/entry_pagination.html" %}
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}