{% extends "website/_layouts/_base.html" %}
{% load static from staticfiles %}

{% block content %}
    <body class="activateAppearAnimation">
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Q & A</h1>
                        {#                        <p>Along with all the Bootstraps components,<br /> we added some extra shortcode to help you customize your website.</p>#}
                        <ul class="breadcrumb visible-md visible-lg">
                            <li><a href="{% url "entry-list" %}?type=notice">공지 사항</a></li>
{#                            <li><a href="{% url "schedule" %}">학사 일정</a></li>#}
                            <li><a href="{% url "entry-list" %}?type=gallery">학원 소식</a></li>
                            <li><a href="{% url "entry-list" %}?type=reference">기타 자료</a></li>
                            <li class="active">Q&A</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <section class="pt40 pb40">
            <div class="container">
                <div class="container" style="padding-bottom: 3%;">
                    <div class="col-md-12 text-center pt30 pb30">
                        <h1>여러분의 목소리를 들려주세요</h1>
                        <h2 class="subTitle">항상 최선을 다하는 폴리니 음악학원이 되겠습니다</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <h4>주소 :</h4>
                        <address>
                        포항시 북구 장량로 196<br/>
                        (양덕동 1703번지)<br/>
                        3층 폴리니 음악학원<br/>
                        양덕동 Mr. big 맞은 편 (구. 스카이 음악미술)<br/>
                        </address>
                        <br/>
                        <h4>연락처 :</h4>
                        <address>
                        054) 247 - 3004<br/>
                        kluba98@daum.net
                        </address>
                        </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}