{% extends "website/_layouts/_base.html" %}
{% load web_extras %}

{% block content %}
    <body class="activateAppearAnimation">
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>기타자료</h1>
                        <ul class="breadcrumb visible-md visible-lg">
                            <li><a href="{% url "entry-list" %}?type=notice">공지 사항</a></li>
                            {#                            <li><a href="{% url "schedule" %}">학사 일정</a></li>#}
                            <li><a href="{% url "entry-list" %}?type=gallery">학원 소식</a></li>
                            <li class="active">기타 자료</li>
                            <li><a href="{% url "QnA" %}">Q&A</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section id="content">
            <section class="pt30 pb30">
                <div class="container clearfix">
                    <div class="col-xs-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-info">{{ object.title }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <thead>
                            <tr>
                                <th>Writer:   {{ object.writer }}</th>
                                <th class="text-right">Date   {{ object.datetime|date:"Y-m-d" }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2" class="entry-detail" style="padding-left: 5%; padding-right: 5%;">{{ object.content|safe }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12" style="text-align: center;">
                        <a class="btn btn-default" href="{% url 'entry-list' %}?type=reference">List</a>
                    </div>
                </div>
            </section>
        </section>
        <section class="comments pb30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        {% if request.user.is_authenticated %}
                            <h3 class="commentNumbers">Comments ({{ object.comments.all.count }})</h3>
                            {% for comment in object.comments.all %}
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <div class="imgWrapper">
                                            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50" alt="" />
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <div class="clearfix">
                                            <h4 class="media-heading">{{ comment.writer }}</h4>
                                            <div class="commentInfo">
                                                <span>{{ comment.datetime }}</span>
                                            </div>
                                        </div>
                                        {{ comment.content|linebreaksbr }}
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        <label for="comment">댓글</label>
                                        {% add_attr field class="form-control" rows="3" placeholder=field.label %}
                                    </div>
                                {% endfor %}
                                <button class="btn btn-primary" type="submit">댓글달기</button>
                            </form>
                        {% else %}
                            <div class="text-center">
                                <a href="{% url "web-login" %}">댓글을 다시려면 로그인하시기 바랍니다.</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>
    </section>
    </section>
    </body>
{% endblock %}