{% extends "website/_layouts/_base.html" %}
{% load static from staticfiles %}

{% block content %}
    <body class="activateAppearAnimation">
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>학사일정</h1>
                        {#                        <p>Along with all the Bootstraps components,<br /> we added some extra shortcode to help you customize your website.</p>#}
                        <ul class="breadcrumb visible-md visible-lg">
                            <li><a href="{% url "entry-list" %}?type=notice">공지 사항</a></li>
                            <li class="active">학사 일정</li>
                            <li><a href="{% url "QnA" %}">Q&A</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
{#        <section>#}
{#            <div class="col-sm-12">#}
{#            <img src="/static/static_website/images/etc/11월달력.png" class="image-responsive text-center"/>#}
{#        </div>#}
{#        </section>#}
    </section>
    </body>
{% endblock %}