{% extends "template_website/_layouts/_base.html" %}
{% load static from staticfiles %}

{% block content %}
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>초급 과정</h1>
                        {#                        <p>Along with all the Bootstraps components,<br /> we added some extra shortcode to help you customize your website.</p>#}
                        <ul class="breadcrumb visible-md visible-lg">
                            <li class="active">초급 과정</li>
                            <li><a href="{% url "intermediate-course" %}">중급 과정</a></li>
                            <li><a href="{% url "advanced-course" %}">고급 과정</a></li>
                            <li><a href="{% url "entrance-course" %}">입시반</a></li>
                            <li><a href="{% url "adult-course" %}">성인반</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <section id="content" class="mt30 pb30">
        <div class="container">
            <section class="col-md-12">
                <div class="row mb15">
                    <div class="col-md-6">
                        <img src="/static/images/slider/carousel/corporate-mini-3.jpg" alt="SEATTLE template" class="img-responsive mb15"/>
                    </div>
                    <div class="col-md-6">
                        <h2>Hello, we love you!</h2>
                        <h3>we really do!</h3>
                        <p>This did not seem to encourage the witness at all: he kept shifting from one foot to the other, looking uneasily at the Queen, and in his confusion he bit a large piece out of his teacup instead of the bread-and-butter.
                        </p>
                    </div>
                </div>
                <hr />
            </section>
        </div>
    </section>
{% endblock %}