{% extends "template_website/_layouts/_base.html" %}
{% load web_extras %}

{% block content %}
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Add Photo</h1>
                        <ul class="breadcrumb visible-md visible-lg">
                            <li><a href="/website">Home</a></li>
                            <li class="active">Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section id="content" class="mt30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Choose Photo:</h4>
                        {#							<address>#}
                        {#								Rainy Day Company<br/>#}
                        {#								77 Mass. Ave., E14/E15<br/>#}
                        {#								Seattle, MA 02139-4307 USA <br/>#}
                        {#							</address>#}
                    </div>
                    <form method="post" action="{% url "photo-gallery" %}" id="contactfrm" role="form">
                        {% csrf_token %}
                        <div class="col-sm-4">
                            <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">{{ form.title.label }}</label>
                                {{ form.title|addcss:"form-control"}}
                                {% for error in form.title.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">{{ form.image.label }}</label>
                                {{ form.image|addcss:"form-control"}}
                                {% for error in form.image.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="comments">Comments</label>
                                <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-4">
                            <div class="result"></div>
                            <button name="submit" type="submit" class="btn btn-lg" id="submit"> Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </section>
    </section>
{% endblock %}