{% extends "template_website/_layouts/_base.html" %}
{% load static from staticfiles %}

{% block content %}
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>학원 오시는 길</h1>
                        {#                        <p>Along with all the Bootstraps components,<br /> we added some extra shortcode to help you customize your website.</p>#}
                        <ul class="breadcrumb visible-md visible-lg">
                            <li><a href="{% url "academy-introduction" %}">학원 소개</a></li>
                            <li class="active">원장 소개</li>
                            <li><a href="{% url "staff-introduction" %}">강사 소개</a></li>
                            <li><a href="{% url "academy-facilities" %}">학원 시설</a></li>
                            <li><a href="{% url "academy-directions" %}">오시는 길</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
{% endblock %}