{% extends "template_website/_layouts/_base.html" %}
{% load web_extras %}

{% block content %}
    <body class="activateAppearAnimation">
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>커뮤니티</h1>
                        {#                        <p>Along with all the Bootstraps components,<br /> we added some extra shortcode to help you customize your website.</p>#}
                        <ul class="breadcrumb visible-md visible-lg">
                            <li class="active">공지 사항</li>
                            <li><a href="{% url "schedule" %}">학사 일정</a></li>
                            <li><a href="{% url "communication" %}">소통 마당</a></li>
                            <li><a href="{% url "QnA" %}">Q&A</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section id="content">
            <section class="pt30 pb30">
                <div class="container clearfix">
                    <form class="form-horizontal group-border-dashed" method="post" action="{% url 'notice-add' %}" id="postComment" role="form">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="row">
                                {% for field in form %}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ field.label }}</label>
                                        <div class="col-sm-6">
                                            {{ field|addattr:"class=form-control" }}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger"><strong>error!</strong> 필수항목</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-12" style="text-align: center;">
                            <button type="submit" class="btn btn-defaulst">Submit</button>
                            <a class="btn btn-default" href="{% url 'notice-list' %}">Cancel</a>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </section>
    </body>
{% endblock %}