{% extends "template_academy/_layouts/base.html" %}
{% load my_extras %}

{% block content %}
    <div class="page-head">
        <h2>지불 내역 추가</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <form class="form-horizontal group-border-dashed" action="{% url "payment-add" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-12">
                <div class="col-md-12">

                    <div class="block-flat">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="header">
                                    <h3>Payment Detail</h3>
                                </div>
                                <div class="content">
                                    {% for field in form %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ field.label }}</label>
                                            <div class="col-sm-6">
                                                {{ field|addattr:"class=form-control" }}
                                                {% for error in field.errors %}
                                                    <span class="label label-danger">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">등록</button>
                            <button type="reset" class="btn btn-default">취소</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}