{% load static from staticfiles %}

<footer id="footerWrapper" class="footer2">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">
                        <h4>한 줄 명언</h4>
                            <p>음악은 인간의 마음속에 존재하는 위대한 가능성을 인간에게 보이는 것이라고 한다.</p>
                            <p>- 랠프 월도 에머슨 (미국 시인)</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">

                        <h3>간략 안내</h3>
                        <ul class="list-unstyled iconList">
                            <li><a href="#"> 매달 마지막주 토요 연주회가 열립니다.</a></li>
                            <li><a href="#"> 1월 24일 콩쿨 참가 예정입니다.</a></li>
                            <li><a href="#"> 입시반, 성인반 수강생에게 연습실이 개방됩니다.</a></li>
                            <li><a href="#"> 달란트 잔치는 3달마다 열립니다.</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">

                        <h3>폴리니 음악학원</h3>
                        <address>
                            <p>
                                <i class="icon-location"></i>&nbsp;포항 양덕동 Mr. big 맞은 편 (구. 스카이 음악미술)<br>
                                <i class="icon-phone"></i>&nbsp;054) 247 - 3004 <br>
                                <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:메일">khe0718@nate.com</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>