{% load static from staticfiles %}

<header class="navbar-fixed-top">
    <div id="mainHeader" role="banner">
        <div class="container">
            <nav class="navbar navbar-default scrollMenu" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/website" style="width: 200px; padding-top:7%;"><img src="/static/images/logo/폴리니로고.png" style="width:200px;" alt="Pollini music academy"/></a>
                </div>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="primary">
                            <a href="/website" class="firstLevel hasSubMenu" >Home</a>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="{% url "academy-introduction" %}" class="firstLevel hasSubMenu" >학원 안내</a>
                            <ul class="subMenu">
                                <li><a href="{% url "academy-introduction" %}">학원 소개</a></li>
                                <li><a href="{% url "staff-introduction" %}">원장 소개</a></li>
                                <li><a href="{% url "academy-facilities" %}">학원 시설</a></li>
                                <li><a href="{% url "academy-directions" %}">오시는 길</a></li>
                            </ul>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="{% url "elementary-course" %}" class="firstLevel hasSubMenu">교육 과정</a>
                            <ul class="subMenu">
                                <li><a href="{% url "elementary-course" %}">초급 과정</a></li>
                                <li><a href="{% url "intermediate-course" %}">중급 과정</a></li>
                                <li><a href="{% url "advanced-course" %}">고급 과정</a></li>
                                <li><a href="{% url "entrance-course" %}">입시반</a></li>
                                <li><a href="{% url "adult-course" %}">성인반</a></li>
                            </ul>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="{% url "entry-list" %}?type=gallery" class="firstLevel hasSubMenu">자료실</a>
                            <ul class="subMenu">
                                <li><a href="{% url "entry-list" %}?type=gallery">학원소식</a></li>
                                <li class="last"><a href="{% url "entry-list" %}?type=reference">기타자료</a></li>
                            </ul>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="{% url "entry-list" %}?type=notice" class="firstLevel hasSubMenu">커뮤니티</a>
                            <ul class="subMenu">
                                <li><a href="{% url "entry-list" %}?type=notice">공지 사항</a></li>
                                <li><a href="{% url "schedule" %}">학사 일정</a></li>
                                <li class="last"><a href="{% url "QnA" %}">Q&A</a></li>
                            </ul>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
