<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?type={{ request.GET.type }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li><a href="#">&laquo;</a></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if num == page_obj.number %}
    <li class="active"><a href="?type={{ request.GET.type }}&page={{ num }}">{{ num }}</a></li>
    {% else %}
    <li><a href="?type={{ request.GET.type }}&page={{ num }}">{{ num }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a href="?type={{ request.GET.type }}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li><a href="#">&raquo;</a></li>
    {% endif %}
</ul>