.logo {
  height: 70px;
}
@media (max-width: 767px) {
  .logo {
    height: 40px;
  }
}

.write-div {
    float: right;
    padding-bottom: 20px;
}

.file-links {
    text-align: center;
}

.join-url {
    font-style: italic;
}
