#id_weekday li{
    float: left;
    list-style: none;
    width: 100px;
}
.navbar-nav > li.button .menu {
  padding: 0;
  min-width: 260px;
  max-width: 280px;
}

.navbar-default .navbar-nav > li.button .menu li ul > li > a {
    font-weight: 300;
    color: #444;
    padding: 11px 10px;
    padding-left: 33px;
    border-bottom: 1px solid #ececec;
    position: relative;
}

.btn-noshow {
  display: inline-block;
  padding: 3px 7px;
  margin-left: 4px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
  border-radius: 3px;
  width: 27px;
  height: 26px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
}
