{% extends "_layouts/base.html" %}
{% load static from staticfiles %}
{% load my_extras %}

{% block content %}
    <div class="page-head">
        <h2>Course Categories</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-sm-6">
                <div class="block-flat">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="header">
                                <h3>Category Details</h3>
                            </div>
                            <div class="content">
                                <div class="dd" >
                                    <ol class="dd-list">
                                        {% for category in root_categories %}
                                            <li class="dd-item">
                                                <div class="dd-handle">{{ category.name }}</div>
                                                {% if category.children.count > 0 %}
                                                    {% child_categories category %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <form class="form-horizontal group-border-dashed" action="{% url "course-category" %}" method="post">
                    {% csrf_token %}
                    <div class="block-flat">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="header">
                                    <h3>Add Course Category</h3>
                                </div>
                                <div class="content">
                                    {% for field in form %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ field.label }}</label>
                                            <div class="col-sm-6">
                                                {{ field|addcss:"form-control" }}
                                                {% for error in field.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <button type="submit" class="btn btn-primary">등록</button>
                                <button type="reset" class="btn btn-default">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}