{% extends "_layouts/base.html" %}
{% load my_extras %}
{% load static from staticfiles %}

{% block content %}

    <div class="page-head">
        <h2>강의 추가</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <form class="form-horizontal group-border-dashed" action="{% url "lecture-add" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-12">

                    <div class="block-flat">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="header">
                                    <h3>Lecture Add</h3>
                                </div>
                                <div class="content">
                                    {% for field in form %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ field.label }}</label>
                                            <div class="col-sm-6">
                                                {{ field|addattr:"class=form-control" }}
                                                {% for error in field.errors %}
                                                    <span class="label label-danger">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                    {#                                    <div class="form-group">#}
                                    {#                                    <div class="contents">#}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Time</label>
                                        <div class="input-prepend input-group">
                                            <span class="add-on input-group-addon primary"><i class="glyphicon glyphicon-th"></i></span>
                                            <input type="text" style="width: 300px" name="datetime" id="reservationtime" class="form-control" value=""  class="span4"/>
                                        </div>
                                        {#                                    </div>#}
                                        </fieldset>
                                        {#                                    </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">등록</button>
                            <button type="reset" class="btn btn-default">취소</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            //initialize the javascript
            $('#reservation').daterangepicker();
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                format: 'YYYY/MM/DD/ h:mm A'
            });
            var cb = function(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2014',
                dateLimit: { days: 60 },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };

            var optionSet2 = {
                startDate: moment().subtract('days', 7),
                endDate: moment(),
                opens: 'left',
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                }
            };

            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#reportrange').daterangepicker(optionSet1, cb);

        });
    </script>
    <script src="js/behaviour/voice-commands.js"></script>
    <script src="js/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}