{% extends "_layouts/base.html" %}
{% load my_extras %}

{% block content %}
    <div class="page-head">
        <h2>수강 신청</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <form class="form-horizontal group-border-dashed" action="{% url "lecture-apply" object.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Lecture Apply</h3>
                                <div class="col-sm-6">
                                    <div class="header">
                                    </div>
                                    <div class="content">
                                        {% for field in form %}
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">{{ field.label }}</label>
                                                <div class="col-sm-6">
                                                    {{ field|addattr:"class=form-control" }}
                                                    {% for error in field.errors %}
                                                        <span class="label label-danger">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <p>
                                            <label class="col-sm-3 control-label"> Price</label>
                                            <input type="text" name="lecture-price" class="col-sm-4"></p>
                                    </div>
                                </div>
                                <div class="header">
                                </div><p></p>
                                <div class="input-prepend input-group">
                                    <input type="text" style="width: 300px" name="datetime" id="reservationtime" class="form-control" value="02/01/2014 1:00 PM - 02/05/2014 2:30 PM"  class="span4"/>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="submit" class="btn btn-primary">등록</button>
                        <a href="{% url "staff-list" %}" class="btn btn-default">취소</a>
                    </div>
                </div>
        </div>
        </form>
    </div>
    </div>
{% endblock %}