{% extends "_layouts/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <div class="cl-mcont">
    <div class="row">
        <div class="col-sm-12">
            <div class="block-flat profile-info">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="avatar">
                            <img src="{% if staff.image %}{{ staff.image.url }}{% endif %}" class="profile-avatar" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="personal">
                            <h1 class="name">{{ staff.name }}</h1>
                            <p class="description">{{ staff.group }}<p>
{#                            <button class="btn btn-primary btn-flat btn-rad" href="{% url "staff-update" staff.id %}" data-modal="reply-ticket"><i class="fa fa-edit"></i> Edit</button>#}
                            <a class="btn btn-primary btn-xs" href="{% url "staff-update" staff.id %}" data-toggle="tooltip"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-danger btn-xs" href="{% url "staff-delete" staff.id %}" data-toggle="tooltip"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
    <div class="tab-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Information</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane active cont">
                <table class="no-border no-strip information">
                    <tbody class="no-border-x no-border-y">
                    <tr>
                        <td style="width:10%;" class="category"><strong>CONTACT</strong></td>
                        <td>
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                <tr><td style="width:15%;"><b>이메일</b></td><td>{{ staff.email }}</td></tr>
                                <tr><td style="width:15%;"><b>주소</b></td><td>{{ staff.address }}</td></tr>
                                <tr><td style="width:15%;"><b>전화번호</b></td><td>{{ staff.contact }}</td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="category"><strong>ABOUT ME</strong></td>
                        <td>
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                <tr><td style="width:15%;"><b>직위</b></td><td>{{ staff.group }}</td></tr>
                                <tr><td style="width:15%;"><b>주과목</b></td><td>{{ staff.main_course }}</td></tr>
                                <tr><td style="width:15%;"><b>등록일</b></td><td>{{ staff.registered_date }}</td></tr>
                                <tr><td style="width:15%;"><b>스펙</b></td><td>{{ staff.specs }}</td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>

    </div>

    </div>
{% endblock %}