{% extends "_layouts/base.html" %}
{% load my_extras %}

{% block content %}
    <div class="page-head">
        <h2>수강생 추가</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <form class="form-horizontal group-border-dashed" action="{% url "student-registration" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="col-md-12">

                    <div class="block-flat">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="header">
                                    <h3>Student Profile</h3>
                                </div>
                                <div class="content">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.name.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.name|addcss:"form-control" }}
                                            {% for error in form.name.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.image.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.image|addcss:"form-control" }}
                                            {% for error in form.image.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.gender.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.gender|addcss:"form-control" }}
                                            {% for error in form.name.gender %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.birthday.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.birthday|addcss:"form-control" }}
                                            {% for error in form.birthday.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.email.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.email|addcss:"form-control" }}
                                            {% for error in form.email.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.address.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.address|addcss:"form-control" }}
                                            {% for error in form.address.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.contact.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.contact|addcss:"form-control" }}
                                            {% for error in form.contact.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.school.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.school|addcss:"form-control" }}
                                            {% for error in form.school.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="header">
                                    <h3>Extra Info</h3>
                                </div>
                                <div class="content">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.attend_method.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.attend_method|addcss:"form-control" }}
                                            {% for error in form.attend_method.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.use_sms.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.use_sms|addcss:"form-control" }}
                                            {% for error in form.use_sms.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.registered_date.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.registered_date|addcss:"form-control" }}
                                            {% for error in form.registered_date.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ form.information.label }}</label>
                                        <div class="col-sm-6">
                                            {{ form.information|addcss:"form-control" }}
                                            {% for error in form.information.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-flat">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="header row">
                                    <div class="col-xs-7">
                                        <h3>Guardian</h3>
                                    </div>
                                    <div class="col-xs-5">
                                        <button id="add-guardian-button" type="button" class="btn btn-primary pull-right">보호자 추가</button>
                                    </div>

                                </div>
                                <div  class="content">
                                {{ formset.management_form }}
                                    <table class="no-border">
                                        <thead>
                                        <tr>
                                            <th>이름</th>
                                            <th>이메일</th>
                                            <th>연락처</th>
                                            <th>관계</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="guardian-formset">
                                        {% for guardian_form in formset %}
                                        <tr class="guardian-form">
                                            {% for field in guardian_form %}
                                                <td>
                                                    {{ field|addcss:"form-control" }}
                                                    {% for error in field.errors %}<p class="color-danger">{{ error }}</p>{% endfor %}
                                                </td>
                                            {% endfor %}
                                            <td>{% if forloop.counter > 1 %}<button type='button' class='delete-guardian-button btn btn-danger'><i class='fa fa-times-circle'></i></button>{% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">등록</button>
                            <button type="reset" class="btn btn-default">취소</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#add-guardian-button").click(function(){
                var guardian_form = $(".guardian-form:first").clone(true);
                guardian_form.find("td:last").append("<button type='button' class='delete-guardian-button btn btn-danger'><i class='fa fa-times-circle'></i></button>");
                guardian_form.appendTo("#guardian-formset");
                setGuardianFormNum();
                $(".delete-guardian-button").click(function(){
                    $(this).parent().parent().remove();
                    setGuardianFormNum();
                });
            });
        });
        $(".delete-guardian-button").click(function(){
            $(this).parent().parent().remove();
        });
        function setGuardianFormNum(){
            var num = $(".guardian-form").size();
            $("#id_form-TOTAL_FORMS").val(num);
        }
    </script>
{% endblock %}