{% extends "_layouts/_base.html" %}
{% load static from staticfiles %}

{% block content %}
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>성인반 과정</h1>
                        {#                        <p>Along with all the Bootstraps components,<br /> we added some extra shortcode to help you customize your website.</p>#}
                        <ul class="breadcrumb visible-md visible-lg">
                            <li><a href="{% url "elementary-course" %}">초급 과정</a></li>
                            <li><a href="{% url "intermediate-course" %}">중급 과정</a></li>
                            <li><a href="{% url "advanced-course" %}">고급 과정</a></li>
                            <li><a href="{% url "entrance-course" %}">입시반</a></li>
                            <li class="active">성인반</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <section id="page">
        <section>
            <section class="mb15">
                <div class="nekoDataOwl owl-carousel text-center" data-neko_items="2" data-neko_singleitem="false" data-neko_navigation="false" data-neko_pagination="true" data-neko_mousedrag="true">
                    <img src="/static/static_website/images/course/adult1.png" alt="6A"/>
                    <img src="/static/static_website/images/course/adult2.png" alt="6B"/>
                    <img src="/static/static_website/images/course/adult3.png" alt="7A"/>
                    <img src="/static/static_website/images/course/adult4.png" alt="7B"/>
                </div>
            </section>
        </section>
        <section id="content">
            <div class="container">
                <div class="row mt30 mb30">
                    <div class="col-md-12">
                        <h2>성인 과정 </h2>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            성인을 위한 피아노 어드벤쳐
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in" >
                                    <div class="panel-body">
                                        <h1 class="panel-title">성인의 스케쥴, 학습 능력과 관심 장르를 고려한 커리큘럼</h1>
                                        <p></p>
                                        <h2 class="panel-title">스피드를 내기 위한 정확한 테크닉 훈련</h2>
                                        <h2></h2>
                                        <p>- 한 권으로 클래식 피아노와 파퓰러 피아노, 반주법을 동시에 배울 수 있습니다.</p>
                                        <p>- 자세한 '연습 제안', '워밍업' 코너를 통해 혼자서도 효율적인 연습이 가능합니다.</p>
                                        <p>- ‘3분 테크닉’ 코너를 통해 손가락 연습과 패턴 분석을 연마합니다.</p>
                                        <p>- ‘이론코너’를 통해 음정, 화음 학습, 청음, 즉흥연주 등 종합적인 능력을 길러줍니다.</p>
                                        <p>- 레슨, 연주, 테크닉, 이론, 반주법이 모두 한 권에 담겨 있어 편리하게 레슨할 수 있습니다.</p>
                                        <p>- CD나 MIDI에 맞추어 처음부터 멋진 연주를 즐기실 수 있으며 리듬감과 연주력이 좋아집니다.</p>
                                        <p>- 팝송, 클래식, 가요 등 유명한 곡을 통해 처음부터 음악 개념과 코드를 경험하므로 초보자도 재미있게 배웁니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            수록곡
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>- 1권 : 어메이징 그레이스/기쁨의 노래/아이네 클라이네 나흐트무지크/신세계 교향곡 주제/징글벨/놀람 교향곡 주제/헝가리 무곡/생일축하 노래/가보트/스타워즈/성자들의 행진 등</p>
                                        <p>- 2권 : 뮤제트/모차르트에 의한 주제/오버 더 레인보우/아! 목동아/캉캉/엔터테이너/돈트 크라이 포 미 아르헨티나/사랑하기 때문에 등</p>
                                        <p>- 3권 : 오! 나의 태양/브람스의 자장가/싱잉 인 더 레인/말라게냐/오라 리/세헤라자데의 주제/작별/제임스 본드 테마/그린 슬리브즈 등</p>
                                        <p>- 4권 : 하바네라/스카보로 페어/호프만의 뱃노래/슬라브 행진곡/아침/개똥벌레/핑크 팬더/해 뜨는 집/아이 윌 올웨이즈 러브 유/축혼 행진곡/사랑의 꿈/뱃노래/야상곡/캐논 등</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}