{% extends "_layouts/_base.html" %}
{% load static from staticfiles %}

{% block content %}
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>고급 과정</h1>
                        {#                        <p>Along with all the Bootstraps components,<br /> we added some extra shortcode to help you customize your website.</p>#}
                        <ul class="breadcrumb visible-md visible-lg">
                            <li><a href="{% url "elementary-course" %}">초급 과정</a></li>
                            <li><a href="{% url "intermediate-course" %}">중급 과정</a></li>
                            <li class="active">고급 과정</li>
                            <li><a href="{% url "entrance-course" %}">입시반</a></li>
                            <li><a href="{% url "adult-course" %}">성인반</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <section id="page">
        <section>
            <section class="mb15">
                <div class="nekoDataOwl owl-carousel text-center" data-neko_items="2" data-neko_singleitem="false" data-neko_navigation="false" data-neko_pagination="true" data-neko_mousedrag="true">
                    <img src="/static/static_website/images/course/6A.png" alt="6A"/>
                    <img src="/static/static_website/images/course/6B.png" alt="6B"/>
                    <img src="/static/static_website/images/course/7A.png" alt="7A"/>
                    <img src="/static/static_website/images/course/7B.png" alt="7B"/>
                    <img src="/static/static_website/images/course/8.png" alt="8"/>
                    <img />
                </div>
            </section>
        </section>
        <section id="content">
            <div class="container">
                <div class="row mt30 mb30">
                    <div class="col-md-12">
                        <h2>고급 과정 </h2>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            피아노 어드벤쳐 6급
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in" >
                                    <div class="panel-body">
                                        <h2 class="panel-title">단음계와 12개 장.단조의 3화음을 정복!</h2>
                                        <p></p>
                                        <h2 class="panel-title">스피드를 내기 위한 정확한 테크닉 훈련</h2>
                                        <h2></h2>
                                        <p>- 화음의 자리바꿈을 집중적으로 훈련시켜 더욱 풍성한 반주를 할 수 있게 됩니다.</p>
                                        <p>- 16분음표의 어려운 리듬들도 게임처럼 재미있고 익히고 빠른 손놀림을 훈련시킵니다.</p>
                                        <p>- 업터치, 칸타빌레 플레잉 등 다양한 주법을 익혀 매력적인 작품들을 아름답게 연주할 수 있게 됩니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            피아노 어드벤쳐 7급
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" >
                                    <div class="panel-body">
                                        <h2 class="panel-title">피아노에서 서정적으로 노래하기!</h2>
                                        <p></p>
                                        <h2 class="panel-title">풍부한 음악성이 정확한 테크닉과 결합하여 빛을 발하는 급수!</h2>
                                        <h2></h2>
                                        <p>- 클래식 명곡은 물론 매혹적인 재즈 화성까지 소화하게 됩니다.</p>
                                        <p>- 장조와 단조를 자연스럽게 넘나들며 조성 개념과 화음을 완전히 몸에 익힙니다.</p>
                                        <p>- 전문 피아니스트처럼 ‘카덴자’를 통해 자신의 기량을 발휘하도록 격려합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            피아노 어드벤쳐 8급
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h2 class="panel-title">5도권을 통해 모든 조성 관계를 한 눈에!</h2>
                                        <p></p>
                                        <h2 class="panel-title">다양한 스타일을 소화하는 연주력!</h2>
                                        <h2></h2>
                                        <p>- 서양 음악의 생명과도 같은 조성 원리를 쉽게 이해시킵니다.</p>
                                        <p>- 대곡에서 다룰 어려운 부분들을 미리 경험시켜 한 차원 높은 곡들을 다루는데 무리가 없도록 대비합니다.</p>
                                        <p>- 재즈, 클래식, 세계 민요… 어떠한 스타일을 치더라도 그 곡의 묘미를 맛있게 살릴 수 있게 됩니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}