{% extends "_layouts/_base.html" %}
{% load static from staticfiles %}

{% block content %}
    <section id="page">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>입시반 과정</h1>
                        {#                        <p>Along with all the Bootstraps components,<br /> we added some extra shortcode to help you customize your website.</p>#}
                        <ul class="breadcrumb visible-md visible-lg">
                            <li><a href="{% url "elementary-course" %}">초급 과정</a></li>
                            <li><a href="{% url "intermediate-course" %}">중급 과정</a></li>
                            <li><a href="{% url "advanced-course" %}">고급 과정</a></li>
                            <li class="active">입시반</li>
                            <li><a href="{% url "adult-course" %}">성인반</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section class="pt40 pb40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ctaBox" style="background-color: #525252;" data-nekodelay="100">
                            <div class="ctaBoxText">
                                <h1 style="color: #FFFFFF;">
                                    입시생 개개인 마다 1:1 레슨을 통하여 최대의 효과를 이끌어내기 위해 노력합니다
                                </h1>
                                <h3 style="color: #FFFFFF; margin:0px 0px;">따라서 고정적인 교재가 있는 것이 아니며, 개인마다 다른 교재와 자료를 이용합니다.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}