{% load static from staticfiles %}
{% load web_extras %}

<footer id="footerWrapper" class="footer2">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">
                        <h3>로그인 정보</h3>
                        <ul class="list-unstyled iconList">
                            {% if request.user.is_authenticated %}
                                <li style="color: darkorange">이름 : {{ request.user.profile.get_name }}</li>
                                <li style="color: darkorange">아이디 : {{ request.user.profile.get_username }}</li>
                            {% else %}
                                <li>로그인시 더 많은 기능을 사용할 수 있습니다.</li>
                                <li><a href='login'>로그인 페이지</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">
                        <h3>간략 안내</h3>
                        <ul class="list-unstyled iconList">
                            <li><a href="#"> 매달 마지막주 토요 연주회가 열립니다.</a></li>
{#                            <li><a href="#"> 1월 24일 콩쿨 참가 예정입니다.</a></li>#}
                            <li><a href="#"> 입시반, 성인반 수강생에게 연습실이 개방됩니다.</a></li>
                            <li><a href="#"> 달란트 잔치는 3개월 마다 열립니다.</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">
                        <h3>폴리니 음악학원</h3>
                        <address>
                            <p>
                                <i class="icon-location"></i>&nbsp;포항 북구 양덕동 1703번지 토레도트빌딩 3층 (Mr. big 맞은 편, 구. 스카이 음악미술)<br>
                                <i class="icon-phone"></i>&nbsp;054) 247 - 3004 <br>
                                <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:메일">kluba98@daum.net</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>