{% load staticfiles web_extras site_extras %}

<footer id="footerWrapper" class="footer2">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">
                        <h3>로그인 정보</h3>
                        <ul class="list-unstyled iconList">
                            {% if request.user.is_authenticated %}
                                <li style="color: darkorange">이름 : {{ request.user.profile.get_name }}</li>
                                <li style="color: darkorange">아이디 : {{ request.user.profile.get_username }}</li>
                            {% else %}
                                <li>로그인시 더 많은 기능을 사용할 수 있습니다.</li>
                                <li><a href='login'>로그인 페이지</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">
                        <h3>간략 안내</h3>
                        <ul class="list-unstyled iconList">
                            <li><a>{{ "간략안내_1"|setting:"content" }}</a></li>
                            <li><a>{{ "간략안내_2"|setting:"content" }}</a></li>
                            <li><a>{{ "간략안내_3"|setting:"content" }}</a></li>
                            <li><a>{{ "간략안내_4"|setting:"content" }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">
                        <h3>폴리니 음악학원</h3>
                        <address>
                            <p>
                                <i class="icon-location"></i>&nbsp;{{ "주소"|setting:"content" }}<br>
                                <i class="icon-phone"></i>&nbsp;{{ "전화번호"|setting:"content" }}<br>
                                <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:{{ "이메일"|setting:"content" }}">{{ "이메일"|setting:"content" }}</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>