{% load static from staticfiles %}
{% load web_extras %}

<footer id="footerWrapper" class="footer2">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    {% if not request.user.profile %}
                        <div class="footerWidget">
                            <form method="post" action="{% url 'web-login' %}">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group" style="margin-right: 10%">
                                        <label for="name">{{ field.label }}</label>
                                        {% add_attr field class="form-control" placeholder=field.label%}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">로그인</button>
                                <input type="hidden" name="next" value="/website"/>
                                <a class="btn btn-primary" href="/website/join">회원가입</a>
                            </form>
                        </div>
                    {% else %}
                        <div class="footerWidget">
                            <a class="btn btn-primary" href="/website/logout">로그아웃</a>
                        </div>
                        <div class="footerWidget">
                            <div class="info">
                                <a href="#">{{ request.user.profile }}</a>  {# .get_name이 왜 안될까? #}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">
                        <h3>간략 안내</h3>
                        <ul class="list-unstyled iconList">
                            <li><a href="#"> 매달 마지막주 토요 연주회가 열립니다.</a></li>
                            <li><a href="#"> 1월 24일 콩쿨 참가 예정입니다.</a></li>
                            <li><a href="#"> 입시반, 성인반 수강생에게 연습실이 개방됩니다.</a></li>
                            <li><a href="#"> 달란트 잔치는 3달마다 열립니다.</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footerWidget">
                        <h3>폴리니 음악학원</h3>
                        <address>
                            <p>
                                <i class="icon-location"></i>&nbsp;포항 양덕동 Mr. big 맞은 편 (구. 스카이 음악미술)<br>
                                <i class="icon-phone"></i>&nbsp;054) 247 - 3004 <br>
                                <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:메일">khe0718@nate.com</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>