{% load static from staticfiles %}

<header class="navbar-fixed-top">
    <div id="mainHeader" role="banner">
        <div class="container">
            <nav class="navbar navbar-default scrollMenu" role="navigation">
                <div class="navbar-header hidden-sm">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/website" style="padding: 5px;">
                        <img src="{% static "website/images/logo/logo.png" %}" class="logo" alt="Pollini music academy"/>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="primary">
                            <a href="/website" class="firstLevel hasSubMenu" >Home</a>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="{% url "academy-introduction" %}" class="firstLevel hasSubMenu" >학원 안내</a>
                            <ul class="subMenu">
                                <li><a href="{% url "academy-introduction" %}">학원 소개</a></li>
                                <li><a href="{% url "headmaster-introduction" %}">원장 소개</a></li>
                                <li><a href="{% url "academy-facilities" %}">학원 시설</a></li>
                                <li><a href="{% url "academy-directions" %}">오시는 길</a></li>
                            </ul>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="{% url "elementary-course" %}" class="firstLevel hasSubMenu">교육 과정</a>
                            <ul class="subMenu">
                                <li><a href="{% url "elementary-course" %}">초급 과정</a></li>
                                <li><a href="{% url "intermediate-course" %}">중급 과정</a></li>
                                <li><a href="{% url "advanced-course" %}">고급 과정</a></li>
                                <li><a href="{% url "entrance-course" %}">입시반</a></li>
                                <li><a href="{% url "adult-course" %}">성인반</a></li>
                            </ul>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            <a href="{% url "entry-list" %}?type=notice" class="firstLevel hasSubMenu">커뮤니티</a>
                            <ul class="subMenu">
                                <li><a href="{% url "entry-list" %}?type=notice">공지 사항</a></li>
{#                                <li><a href="{% url "schedule" %}">학사 일정</a></li>#}
                                <li><a href="{% url "entry-list" %}?type=gallery">학원 소식</a></li>
                                <li><a href="{% url "entry-list" %}?type=reference">기타 자료</a></li>
                                <li><a href="{% url "QnA" %}">Q&A</a></li>
                            </ul>
                        </li>
                        <li class="sep"></li>
                        <li class="primary">
                            {% if not request.user.is_authenticated %}
                                <a href="{% url "web-login" %}" class="firstLevel login"><b>로그인</b></a>
                            {% else %}
                                <a href="{% url "web-logout" %}" class="firstLevel login"><b>로그아웃</b></a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
